[mysqld]
explicit_defaults_for_timestamp=1  # テーブルにTimeStamp型のカラムをもつ場合、推奨
general_log=1                  # 実行したクエリの全ての履歴が記録される（defaultではOFFになっているらしい）
general_log_file=/var/log/mysql/mysqld.log # ログの出力先
character-set-server=utf8mb4 #mysqldセクションの末尾に追加 # mysqlサーバー側が使用する文字コード

[client]
character_set_server=utf8mb4 # mysqlのクライアント側が使用する文字コード